<% cache 'archive_list' do %>
<li>
  <h2>Archives</h2>
      <% for archive in Archive.find_all %>
        <%= archive.year %> (<%= archive.posts.size %>)
        <ul>
        	<% for arc in Archive.find(:all, :conditions => ["year = ?", archive.year]) %>
        		<li><%= arc.month %> (<%= arc.posts.size %>)</li>
        	<% end %>
        </ul>
      <% end %>
</li>
<% end %>